@charset "ISO-8859-1";
.row{
	border: 1px solid;
	height: 300px;
	width: 900px;
	margin-left: 230px;
	margin-top: 80px;
	
	display: flex;
}
.column {
  flex: 50%;
  padding: 10px;
  height: 250px;
  border: 2px solid; 
  margin: 20px; 
  width: 350px;
  background-color: #add8e6 ;
}
* {
  box-sizing: border-box;

}

img{
	width:250px; 
	height:230px;
	margin-left: 60px;
}
p{
	color:red;
}