@charset "ISO-8859-1";

*{
  box-sizing: border-box;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
  font-size: 40px; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
